<div class="imagedesign">

<div class="row"  *ngIf="successmsg" style="padding-top: 15px;">
    <div class="col-md-8 offset-md-2">
      <p class="alert alert-success text-center">
          <strong><h3>{{successmsg}}</h3></strong>
      </p>
    </div>
  </div>







<div class="row">
<div class="col-md-4 offset-md-4">
<form [formGroup]="registerForm" (ngSubmit)="send()" class="newstyle1">
    <h1 class="formstyle text-center" style="margin:10px 10px ;"><strong>Create Account</strong></h1>
    <div class="form-group formstyle">
        <label for="name" class="formcontent"><strong>Name</strong></label>
        <input [class.is-invalid]="userName.invalid && userName.touched"  type="text" id="name" formControlName="Name" class="form-control " placeholder="Enter Your Name" >
        <div *ngIf="userName.invalid && userName.touched">
        <small *ngIf="userName.errors?.required" class="text-danger alert alert-danger form-control">Username is required</small>
        <small *ngIf="userName.errors?.pattern"  class="text-danger alert alert-danger form-control">Invalid Username</small>
        </div>
        
     </div>
    
    <div class="form-group formstyle">
     <label for="mno" class="formcontent"><strong>Mobile Number</strong></label>
     <input [class.is-invalid]="mobileNumber.invalid && mobileNumber.touched" type="number" id="mno" formControlName="MobileNumber" class="form-control " placeholder="Enter Your Mobile Number">
      <div *ngIf="mobileNumber.invalid && mobileNumber.touched">
       <small *ngIf="mobileNumber.errors?.required" class="text-danger alert alert-danger form-control">Mobile number is required</small>
       <small *ngIf="mobileNumber.errors?.pattern " class="text-danger alert alert-danger form-control">Invalid mobile number </small>

      </div> 
    

     </div>
     
     <div class="form-group formstyle">
         <label for="email" class="formcontent"><strong>Email Id</strong></label>
         <input  [class.is-invalid]="email.invalid && email.touched" type="email" id="email" formControlName="Email" class="form-control" placeholder="Enter Your Email Id">
         
         <div *ngIf="email.invalid && email.touched">
             <small *ngIf="email.errors?.required" class="text-danger alert alert-danger form-control">Email Id is required</small>
             <small *ngIf="email.errors?.email " class="text-danger alert alert-danger form-control">Invalid email id </small>
         
         </div>
     </div> 


     <div class="form-group formstyle">
        <label for="pwd" class="formcontent"><strong>Select Category</strong></label>
        <select name="Category" class="form-control" id="types"   formControlName="type">
            <option value="" disabled>---Choose a category---</option>
            <option value="Passenger">Passenger</option>
            <option value="Operator">Bus Operator</option>
          </select>       
          
          <small *ngIf="type.errors?.required && type.touched" class="text-danger alert alert-danger form-control">Category is required</small>

    </div>
     

     <div class="form-group formstyle">
         <label for="pwd" class="formcontent"><strong>Password</strong></label>
         <input [class.is-invalid]="password.invalid && password.touched"  type="password" id="pwd" formControlName="Password" class="form-control" placeholder="At least 6 characters">
         
         <div *ngIf="password.invalid && password.touched">
             <small *ngIf="password.errors?.required" class="text-danger alert alert-danger form-control">Password is required</small>
             <small *ngIf="password.errors?.minlength" class="text-danger alert alert-danger form-control">At leat 6 character long </small>

         </div> 

     </div>




     


     <div class="form-group formstyle ">
         <button  type="submit" [disabled]="!registerForm.valid" class="form-control btn btn-warning  ">Register</button>
         <p *ngIf="errormessage" class="alert alert-danger text-center mt-3">
            <strong><h3>{{errormessage}}</h3></strong>
        </p>
     </div>
     
    


</form>
 </div>
</div>

</div>





